## Overview of the dataframe

In [6]:
import pandas
data = pandas.read_csv("./review_analysis/reviews.csv")

In [14]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

## Filtering data based on conditions

### Single condition

In [7]:
data[data['Rating'] > 4]

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [8]:
len(data[data['Rating'] > 4])

29758

In [9]:
data[data['Rating'] > 4].count()

Course Name    29758
Timestamp      29758
Rating         29758
Comment         4927
dtype: int64

In [15]:
d2 = data[data['Rating'] > 4] # This returns a df we store in d2
d2['Rating'] # We can now select the rating column for this dataframe

3        5.0
4        4.5
5        4.5
6        4.5
7        5.0
        ...
44994    5.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 29758, dtype: float64

In [17]:
d2['Rating'].mean()

4.87316015861281

### Multiple conditions

In [18]:
# Each condition goes inside one parentheses
data[(data['Rating'] > 4) & (data['Course Name'] == "The Complete Python Course: Build 10 Professional OOP Apps")]

,Course Name,Timestamp,Rating,Comment
31,The Complete Python Course: Build 10 Professio...,2021-04-01 01:32:52+00:00,5.0,NaN
34,The Complete Python Course: Build 10 Professio...,2021-03-31 22:53:04+00:00,5.0,NaN
43,The Complete Python Course: Build 10 Professio...,2021-03-31 19:15:25+00:00,5.0,NaN
45,The Complete Python Course: Build 10 Professio...,2021-03-31 17:23:15+00:00,5.0,NaN
101,The Complete Python Course: Build 10 Professio...,2021-03-29 21:54:00+00:00,4.5,NaN
...,...,...,...,...
2501,The Complete Python Course: Build 10 Professio...,2021-01-14 21:19:44+00:00,4.5,NaN
2502,The Complete Python Course: Build 10 Professio...,2021-01-14 20:57:14+00:00,5.0,NaN
2509,The Complete Python Course: Build 10 Professio...,2021-01-14 15:46:18+00:00,5.0,NaN
2523,The Complete Python Course: Build 10 Professio...,2021-01-13 22:21:14+00:00,5.0,NaN
2525,The Complete Python Course: Build 10 Professio...,2021-01-13 20:44:02+00:00,5.0,NaN