In [13]:
from pandas_datareader import data
from datetime import datetime as dt
from bokeh.plotting import figure, show, output_file

start = dt(2015,11,1)
end = dt(2016,3,10)

df = data.DataReader(name='GOOG', data_source="yahoo", start=start, end=end)
type(df) # Will be a dataframe
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-11-02,721.619995,705.849976,711.059998,721.109985,1886300,721.109985
2015-11-03,724.650024,714.719971,718.859985,722.159973,1565400,722.159973
2015-11-04,733.099976,721.900024,722.000000,728.109985,1706700,728.109985
2015-11-05,739.479980,729.469971,729.469971,731.250000,1861600,731.250000
2015-11-06,735.409973,727.010010,731.500000,733.760010,1511600,733.760010
...,...,...,...,...,...,...
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007

In [14]:
# Find rows where Closing price is above open (Green Rectangles)
def inc_dec(c, o):
    if c > o:
        value = "Increase"
    elif c < o:
        value = "Decrease"
    else:
        value = "Equal"
    return value

df["Status"] = [inc_dec(c,o) for c, o in zip(df.Close, df.Open)]

In [15]:
df["Midpoint"] = (df.Open + df.Close) / 2
df["Height"] = abs(df.Close - df.Open)

In [16]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Midpoint,Height
Date,,,,,,,,,
2015-11-02,721.619995,705.849976,711.059998,721.109985,1886300,721.109985,Increase,716.084991,10.049988
2015-11-03,724.650024,714.719971,718.859985,722.159973,1565400,722.159973,Increase,720.509979,3.299988
2015-11-04,733.099976,721.900024,722.000000,728.109985,1706700,728.109985,Increase,725.054993,6.109985
2015-11-05,739.479980,729.469971,729.469971,731.250000,1861600,731.250000,Increase,730.359985,1.780029
2015-11-06,735.409973,727.010010,731.500000,733.760010,1511600,733.760010,Increase,732.630005,2.260010
...,...,...,...,...,...,...,...,...,...
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015,Decrease,712.940002,4.099976
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973,Decrease,701.029999,11.740051
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971,Increase,691.279999,5.379944
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990,Increase,701.854980,6.770020
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007,Increase,710.470001,4.700012

In [17]:
p = figure(x_axis_type = 'datetime', width = 1000, height = 300, sizing_mode = "scale_width")
p.title.text = "Candlestick Chart"
# The order we add items to p determines the order in which they appear
p.grid.grid_line_alpha = 0.2

hours_12 = 12 * 60 * 60 * 1000 # 12 hours in milliseconds

# Segment parameters
# x value of highest point
# y value of highest point
# x value of lowest point
# y value of lowest point
p.segment(df.index, df.High, df.index, df.Low, color="Grey")

# Rectange defined by 4 parameters
# List of central x coordinates
# List of central y
# width
# Height
p.rect(df.index[df.Status == "Increase"], 
       df.Midpoint[df.Status == "Increase"], 
       hours_12 , 
       df.Height[df.Status == "Increase"], 
       fill_color = "#90EE90", 
       line_color = "grey")

p.rect(df.index[df.Status == "Decrease"], 
       df.Midpoint[df.Status == "Decrease"], 
       hours_12 , 
       df.Height[df.Status == "Decrease"], 
       fill_color = "#FF6347", 
       line_color = "grey")

output_file("CS.html")
show(p)

Opening in existing browser session.

[9896:9896:0100/000000.993352:ERROR:sandbox_linux.cc(376)] InitializeSandbox() called with multiple threads in process gpu-process.